* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.header {
  display: grid;
  grid-template: 150px / 53% 47%;
  background-color: #e8ffff;
  position: sticky;
  top: -35px;
}

.header > .add-book {
  padding: 8px 12px;
  border: 2px solid #332d4f;
  color: #332d4f;
  background-color: #e8ffff;
  border-radius: 6px;
  font-size: 0.9rem;
  width: fit-content;
  height: fit-content;
  align-self: center;
  margin-left: 35px;
  transition-property: margin, box-shadow;
  transition-duration: .5s;
}

.header > .add-book:hover {
  border: 2px solid #645996;
  margin: 0px 10px 10px 25px;
  box-shadow: 10px 10px 0px 0px #a99de0;
}

.header > .add-book:active {
  transform: scale(0.98);
}

.header > h1 {
  font-size: 2.8rem;
  align-self: center;
  justify-self: end;
  padding-bottom: 12px;
  color: #332d4f;
}

.library {
  flex: 1;
  background-color: #f9fcff;
  padding-top: 36px;
}

.card-container {
  display: grid;
  grid-template: repeat(2, 250px) / repeat(auto-fit, minmax(150px, 200px));
  grid-auto-rows: 200px;
  justify-content: center;
  gap: 48px;
  width: clamp(600px, 60%, 1200px);
  margin: 0 auto;
}

.card {
  border: 3px solid #332d4f;
  border-radius: 8px;
  background-color: #fcf4ff;
  color: #332d4f; 
  padding: 10px;
}

.card > p {
  margin-bottom: 6px;
}

.card > p:first-child {
  font-weight: 700;
  font-size: 1rem;
}

.card > p:first-child ~ p{
  font-size: .9rem;
}

.card > button {
  display: block;
  padding: 6px 8px;
  border: 2px solid #332d4f;
  color: #332d4f;
  background-color: #e8ffff;
  border-radius: 6px;
  font-size: 0.8rem;
  width: 100px;
  margin: 18px auto 0px auto;
}

.card > button:hover,
.popup-form > button:hover {
  background-color: orange;
}

.card > button:active,
.popup-form > button:active {
  transform: scale(0.98)
}

.form-container{
  position: absolute;
  z-index: 1;
  align-self: center;
  top: 20%;
  height: 450px;
  width: 350px;
  border: 3px solid #332d4f;
  border-radius: 6px;
  background-color: #e8ffff;
  visibility: hidden;
}

.popup-form {
  display: flex;
  flex-direction: column;
  padding: 10px 16px;
}

.popup-form > label,
.popup-form > div {
  margin-top: 16px;
  padding-bottom: 4px;
  font-size: 1.2rem;
  font-weight: 700;
}

.popup-form > input[type="text"],
.popup-form > input[type="number"]  {
  height: 35px;
  outline: none;
  border: 2px solid #332d4f;
  border-radius: 4px;
  padding-left: 4px;
  background-color: #f9fcff;
  font-size: 1rem;
}

.popup-form > button {
  width: 150px;
  padding: 8px 8px;
  margin: 18px auto 0px auto;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #fcf4ff;
  border: 3px solid #332d4f;
}
