* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sky-blue: #e8ffff;
  --dark-purple: #332d4f;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.header {
  display: grid;
  grid-template: 125px / 53% 47%;
  background-color: var(--sky-blue);
  position: sticky;
  top: -35px;
  box-shadow: 0px 0px 1px 0px rgb(170, 170, 170);
}

.header > .add-book {
  padding: 8px 12px;
  border: 2px solid var(--dark-purple);
  color: var(--dark-purple);
  background-color: var(--sky-blue);
  border-radius: 6px;
  font-size: 0.9rem;
  width: fit-content;
  height: fit-content;
  align-self: center;
  margin-left: 35px;
  transition-property: margin, box-shadow;
  transition-duration: .5s;
}

.header > .add-book:hover {
  border: 2px solid #645996;
  margin: 0px 10px 10px 25px;
  box-shadow: 10px 10px 0px 0px #a99de0;
}

.header > .add-book:active {
  transform: scale(0.98);
}

.header > h1 {
  font-size: 2.8rem;
  align-self: center;
  justify-self: end;
  padding-bottom: 12px;
  color: var(--dark-purple);
}

.library {
  flex: 1;
  background-color: #f9fcff;
  padding-top: 36px;
}

.card-container {
  display: grid;
  grid-template: repeat(2, 250px) / repeat(auto-fit, minmax(150px, 200px));
  grid-auto-rows: 200px;
  justify-content: center;
  gap: 48px;
  width: clamp(600px, 60%, 1200px);
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  border: 3px solid var(--dark-purple);
  border-radius: 8px;
  background-color: #fcf4ff;
  color: var(--dark-purple); 
  padding: 10px;
  box-shadow: 0px 0px 3px 0px rgb(119, 119, 119);
}

.card > p {
  margin-bottom: 6px;
}

.card > p:first-child {
  font-weight: 700;
  font-size: 1rem;
}

.card > p:first-child ~ p{
  font-size: .9rem;
}

.card > p:last-of-type {
  flex: 1;
}

.card > button {
  display: block;
  padding: 6px 8px;
  border: 2px solid var(--dark-purple);
  color: var(--dark-purple);
  background-color: var(--sky-blue);
  border-radius: 6px;
  font-size: 0.8rem;
  width: 100px;
  margin: 0 auto;
}

.card > button:first-of-type {
  margin-bottom: 8px;
}

.card > button:hover,
.popup-form > .submit-book:hover:enabled {
  background-color: orange;
}

.card > button:active,
.popup-form > .submit-book:active:enabled {
  transform: scale(0.98)
}

.card > .read {
  background-color: var(--sky-blue);
}

.card > .not-read {
  background-color: #fd4848;
}

.form-container{
  position: absolute;
  z-index: 1;
  align-self: center;
  top: 20%;
  height: 450px;
  width: 350px;
  border: 3px solid var(--dark-purple);
  border-radius: 6px;
  background-color: var(--sky-blue);
  visibility: hidden;
}

.popup-form {
  display: flex;
  flex-direction: column;
  padding: 10px 16px;
}

.popup-form > label,
.popup-form > div {
  margin-top: 16px;
  padding-bottom: 4px;
  font-size: 1.2rem;
  font-weight: 700;
  position: relative;
}

.popup-form > input[type="text"],
.popup-form > input[type="number"]  {
  height: 35px;
  outline: none;
  border: 2px solid var(--dark-purple);
  border-radius: 4px;
  padding-left: 4px;
  background-color: #f9fcff;
  font-size: 1rem;
}

.submit-book {
  width: 150px;
  padding: 8px 8px;
  margin: 18px auto 0px auto;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #fcf4ff;
  border: 3px solid var(--dark-purple);
}

#close-popup-form {
  position: absolute;
  background-color: #fd4848;
  color: var(--dark-purple);
  top: 10px;
  right: 10px;
  border: 2px solid var(--dark-purple);
  border-radius: 4px;
  width: 25px;
  height: 25px;
}

.popup-form > #close-popup-form:hover {
  background-color: #fd1717;
}

.popup-form > .error::after,
.popup-form > .error::after {
  position: absolute;
  content: "* Required";
  right: 5px;
  bottom: 2px;
  font-size: .7rem;
  color: #a10000;
}

.submit-book:disabled {
  background-color: #e6e6e6;
  color: var(--dark-purple);
}